openapi: 3.0.2
info:
  description: Receivable Register, Receivable Unit and Agenda Out
  version: "1.0"
  title: Receivable Register, Receivable Unit and Agenda Out
  termsOfService: urn:tos
  contact: {}
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0
servers:
  - url: https://cat.api.firstdata.com
x-production-url: prod.api.firstdata.com
x-config:
  tryItOut: true
paths:
  "/bwa/unidade-recebiveis/resources/v1/transacoes":
    get:
      x-proxy-name: Merchant Information - URs - transactions
      x-group-name: Merchant Information & Cases
      x-child-product-name: Digital Solutions
      description: Merchant Information - URs - transactions
      summary: Transacoes URs
      operationId: TransacoesURs
      parameters:
        - name: Message-Signature
          in: header
          description: HMAC
          required: true
          example: 1tsmkG9Ip3k2rcO5cETButfP3D/RS6U8troFF+mUrno=
          schema:
            type: string
        - name: Api-Key
          in: header
          description: APigee Key
          required: true
          example: X0GW3QGOYFn4r7DHcVC8KuatUnNs6MGB
          schema:
            type: string
        - name: auth
          in: header
          description: Oauth Key
          required: true
          example: ''
          schema:
            type: string
        - name: Timestamp
          in: header
          description: Date - Epoch format
          required: true
          example: '1563309156733'
          schema:
            type: string
        - name: Client-Request-Id
          in: header
          description: Randomly generated by client
          required: true
          example: 6NYHj9Pgyxc84rmafpwG4fjhLwFfJYFVmxJOcgziD0QN3q6mGC
          schema:
            type: string
        - name: instituicao
          in: header
          description: Merchant Institution Number
          example: "00000003"
          required: true
          schema:
            type: string
        - name: documento
          in: header
          description: Tax ID (CPF/CNPJ)
          required: true
          example: "01472583000120"
          schema:
            type: string
        - name: urs
          in: query
          description: Urs
          required: false
          example: "20220101009"
          schema:
            type: string
        - name: tipoOrdenacao
          in: query
          description: Orderin field
          required: false
          example: "ASC"
          schema:
            type: string
        - name: page
          in: query
          description: Search page number (Default 0)
          example: 0
          required: false
          schema:
            type: integer
            format: int32
        - name: size
          in: query
          description: Number of records to search on the page (Default 20)
          example: 33
          required: false
          schema:
            type: integer
            format: int32
        - name: sort
          in: query
          description: Ordering field can be any return field. It is possible to determine as ASC (ascending), DESC (descending) or none
          example: "dtRegistro | dtRegistro,asc | dtRegistro,desc"
          required: false
          schema:
            type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/transacoesResponse"
        '206':
          description: Partial Content
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PartialContent'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Forbidden'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Conflict'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerError'
  "/bwa/unidade-recebiveis/resources/v1/transacoes/sumarizadas":
    get:
      x-proxy-name: Merchant Information - URs - Summarized transactions
      x-group-name: Merchant Information & Cases
      x-child-product-name: Digital Solutions
      description: Merchant Information - URs - Summarized transactions
      summary: Transacoes URs sumarizadas
      operationId: TransacoesURsSumarizadas
      parameters:
        - name: Message-Signature
          in: header
          description: HMAC
          required: true
          example: 1tsmkG9Ip3k2rcO5cETButfP3D/RS6U8troFF+mUrno=
          schema:
            type: string
        - name: Api-Key
          in: header
          description: APigee Key
          required: true
          example: X0GW3QGOYFn4r7DHcVC8KuatUnNs6MGB
          schema:
            type: string
        - name: auth
          in: header
          description: Oauth Key
          required: true
          example: ''
          schema:
            type: string
        - name: Timestamp
          in: header
          description: Date - Epoch format
          required: true
          example: '1563309156733'
          schema:
            type: string
        - name: Client-Request-Id
          in: header
          description: Randomly generated by client
          required: true
          example: 6NYHj9Pgyxc84rmafpwG4fjhLwFfJYFVmxJOcgziD0QN3q6mGC
          schema:
            type: string
        - name: instituicao
          in: header
          description: Merchant Institution Number
          example: "00000003"
          required: true
          schema:
            type: string
        - name: documento
          in: header
          description: Tax ID (CPF/CNPJ)
          required: true
          example: "01472583000120"
          schema:
            type: string
        - name: urs
          in: query
          description: Urs
          required: false
          example: "20220101009"
          schema:
            type: string
        - name: tipoOrdenacao
          in: query
          description: Orderin field
          required: false
          example: "ASC"
          schema:
            type: string
        - name: page
          in: query
          description: Search page number (Default 0)
          example: 0
          required: false
          schema:
            type: integer
            format: int32
        - name: size
          in: query
          description: Number of records to search on the page (Default 20)
          example: 33
          required: false
          schema:
            type: integer
            format: int32
        - name: sort
          in: query
          description: Ordering field can be any return field. It is possible to determine as ASC (ascending), DESC (descending) or none
          example: "dtRegistro | dtRegistro,asc | dtRegistro,desc"
          required: false
          schema:
            type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/transacoesSumarizadasResponse"
        '206':
          description: Partial Content
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PartialContent'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Forbidden'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Conflict'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerError'
  
  "/bwa/unidade-recebiveis/resources/v2/transacoes":
    get:
      x-proxy-name: Merchant Information - URs - Transactions V2
      x-group-name: Merchant Information & Cases
      x-child-product-name: Digital Solutions
      description: Merchant Information - URs - Transactions V2
      summary: Transacoes URs
      operationId: TransacoesURsV2
      parameters:
        - name: Message-Signature
          in: header
          description: HMAC
          required: true
          example: 1tsmkG9Ip3k2rcO5cETButfP3D/RS6U8troFF+mUrno=
          schema:
            type: string
        - name: Api-Key
          in: header
          description: APigee Key
          required: true
          example: X0GW3QGOYFn4r7DHcVC8KuatUnNs6MGB
          schema:
            type: string
        - name: auth
          in: header
          description: Oauth Key
          required: true
          example: ''
          schema:
            type: string
        - name: Timestamp
          in: header
          description: Date - Epoch format
          required: true
          example: '1563309156733'
          schema:
            type: string
        - name: Client-Request-Id
          in: header
          description: Randomly generated by client
          required: true
          example: 6NYHj9Pgyxc84rmafpwG4fjhLwFfJYFVmxJOcgziD0QN3q6mGC
          schema:
            type: string
        - name: instituicao
          in: header
          description: Merchant Institution Number
          example: "00000003"
          required: true
          schema:
            type: string
        - name: documento
          in: header
          description: Tax ID (CPF/CNPJ)
          required: true
          example: "01472583000120"
          schema:
            type: string
        - name: dataLiquidacao
          in: header
          description: Tax ID (CPF/CNPJ)
          required: true
          example: "20230910"
          schema:
            type: string
        - name: arranjo
          in: header
          description: Tax ID (CPF/CNPJ)
          required: true
          example: "MCC"
          schema:
            type: string
        - name: nsu
          in: query
          description: retrieval reference
          required: false
          example: "44206427152"
          schema:
            type: string
        - name: codAutorizacao
          in: query
          description: Auth code
          required: false
          example: "20230315"
          schema:
            type: string
        - name: terminal
          in: query
          description: terminal code
          required: false
          example: "PGW0AA05"
          schema:
            type: string
        - name: codTipoTransacao
          in: query
          description: Transaction type code
          required: false
          example: "469"
          schema:
            type: string    
        - name: page
          in: query
          description: Search page number (Default 0)
          example: 0
          required: false
          schema:
            type: integer
            format: int32
        - name: size
          in: query
          description: Number of records to search on the page (Default 20)
          example: 33
          required: false
          schema:
            type: integer
            format: int32
        - name: sort
          in: query
          description: Ordering field can be any return field. It is possible to determine as ASC (ascending), DESC (descending) or none
          example: "dtRegistro | dtRegistro,asc | dtRegistro,desc"
          required: false
          schema:
            type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/transacoesV2Response"
        '206':
          description: Partial Content
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PartialContent'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Forbidden'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Conflict'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerError'
components:
  schemas:
    PartialContent:
      type: object
      properties:
        codigoRetorno:
          description: Return Code
          example: 9
          type: integer
          format: int32
          enum:
            - 9
            - 10
        mensagem:
          description: Description return code
          type: string
          enum:
            - "9 - Campos mandatorios - (meaning Mandatory Fields Missing)"
            - "10 - (Erro validaçao) - (meaning Validation Error)"
    Unauthorized:
      type: object
      properties:
        codigoRetorno:
          description: Return Code
          type: integer
          example: 4
        mensagem:
          description: Description return code
          example: Acesso nao autorizado ao conteudo pesquisado - (meaning Unauthorized Access)
          type: string
    Forbidden:
      type: object
      properties:
        codigoRetorno:
          description: Return Code
          example: 3
          type: integer
          format: int32
          enum:
            - 3
            - 6
        mensagem:
          description: Description return code
          type: string
          enum:
            - "3 - Acesso negado - (meaning Access Denied)"
            - "6 - Token expirado - (meaning Expired Token)"
    NotFound:
      type: object
      properties:
        codigoRetorno:
          description: Return Code
          type: integer
          example: 5
        mensagem:
          description: Description return code
          example: Item nao encontrado - (meaning Item not Found)
          type: string
    Conflict:
      type: object
      properties:
        codigoRetorno:
          description: Return Code
          type: integer
          example: 8
        mensagem:
          description: Description return code
          example: Item duplicado - (meaning Item Duplicated)
          type: string
    InternalServerError:
      type: object
      properties:
        codigoRetorno:
          description: Return Code
          example: 2
          type: integer
          format: int32
          enum:
            - 2
            - 7
        mensagem:
          description: Description return code
          type: string
          enum:
            - "2 - Erro Interno - (meaning Internal Error)"
            - "7 - Erro na integracao da API. Detalhe - (meaning API Integration Error)"        
    transacoesResponse:
      type: object
      properties:
        codigoRetorno:
          description: Return code
          example: 0
          type: integer
          format: int32
          enum:
            - 0
            - 101
        mensagem:
          description: Description return code
          example: 0 - Sucesso
          type: string
          enum:
            - "0 - Sucesso"
        conteudo:
          type: array
          items:
            $ref: '#/components/schemas/transacaoResponse'
        totalPages:
          description: Total search pages
          example: 10
          type: integer
          format: int32
        totalElements:
          description: Total records found in the search
          example: 350
          type: integer
          format: int32
        pageNumber:
          description: Current search page
          example: 1
          type: integer
          format: int32
        first:
          description: First page
          example: True
          type: boolean
        last:
          description: Last page
          example: True
          type: boolean
    transacoesSumarizadasResponse:
      type: object
      properties:
        codigoRetorno:
          description: Return code
          example: 0
          type: integer
          format: int32
          enum:
            - 0
            - 101
        mensagem:
          description: Description return code
          example: 0 - Sucesso
          type: string
          enum:
            - "0 - Sucesso"
        conteudo:
          type: array
          items:
            $ref: '#/components/schemas/transacaoSumarizadaResponse'
        totalPages:
          description: Total search pages
          example: 10
          type: integer
          format: int32
        totalElements:
          description: Total records found in the search
          example: 350
          type: integer
          format: int32
        pageNumber:
          description: Current search page
          example: 1
          type: integer
          format: int32
        first:
          description: First page
          example: True
          type: boolean
        last:
          description: Last page
          example: True
          type: boolean
    transacaoResponse:
      type: object
      properties:
        dataLiquidacao:
          type: string
          description: settlement date
          example: "20220101"
        arranjoPagamento:
          type: string
          description: Arranjo
          example: "MCC"
        numeroTransacao:
          type: string
          description: transaction number
          example: "0001"
        dataTransacao:
          type: string
          description: Transaction date
          example: '20220101'
        horaTransacao:
          type: string
          description: transaction time
          example: "12:00:00"
        comprovante:
          type: string
          description: Effect type
          example: "44206427152"
        codProdutoTransacao:
          type: string
          description: Division rule
          example: "999"
        descProdutoTransacao:
          type: string
          description: Compromised value
        codBandeira:
          type: string
          description: Schema code 
          example: "002"
        descBandeira:
          type: string
          description: Schema description
          example: "Cabal Credit"
        codTipoTransacao:
          type: string
          description: transaction type code
          example: "999"
        descTipoTransacao:
          type: string
          description: transaction type description
        numeroParcela:
          type: string
          description: Parc number
          example: "001"
        qtdeParcelas:
          type: string
          description: parc amount
          example: "10"
        valorTotalPlano:
          type: string
          description: total plan amount
          example: "1000.00"
        codAutorizacao:
          type: string
          description: Auth code
          example: "0101010"
        numCartao:
          type: string
          description: Card number
          example: "111111111111"
        numTerminal:
          type: string
          description: terminal number
          example: "99999999"
        codTipoCartao:
          type: string
          description: type code card
          example: "00004"
        descTipoCartao:
          type: string
          description: type code descripetion
          example: "Débito"
        valorBrutoParcela:
          type: string
          description: Total amount parc
          example: "1000.00"
        valorDescontoParcela:
          type: string
          description: decount parc amount
          example: "1000.00"
        valorLiquidoParcela:
          type: string
          description: net amount parc
          example: "1000.00"
        seuNumero:
          type: string
          description: number
          example: "00001"
        eciCode:
          type: string
          description: Ecicode
          example: "00001"
    transacaoSumarizadaResponse:
      type: object
      properties:
        dataLiquidacao:
          type: string
          description: settlement date
          example: "20220101"
        arranjoPagamento:
          type: string
          description: Arranjo
          example: "MCC"
        valorTotalPlano:
          type: string
          description: total amount plan
          example: "1000.00"
        valorBrutoParcela:
          type: string
          description: total amount parc
          example: '1000.00'
        valorDescontoParcela:
          type: string
          description: descount amount
          example: "1000.00"
        valorLiquidoParcela:
          type: string
          description: net amount parc
          example: "1000.00"
        
    transacoesV2Response:
      type: object
      properties:
        codigoRetorno:
          description: Return code
          example: 0
          type: integer
          format: int32
          enum:
            - 0
            - 101
        mensagem:
          description: Description return code
          example: 0 - Sucesso
          type: string
          enum:
            - "0 - Sucesso"
        conteudo:
          type: array
          items:
            $ref: '#/components/schemas/transacaoV2Response'
        totalPages:
          description: Total search pages
          example: 10
          type: integer
          format: int32
        totalElements:
          description: Total records found in the search
          example: 350
          type: integer
          format: int32
        pageNumber:
          description: Current search page
          example: 1
          type: integer
          format: int32
        first:
          description: First page
          example: True
          type: boolean
        last:
          description: Last page
          example: True
          type: boolean
    transacaoV2Response:
      type: object
      properties:
        dataVenda:
          type: string
          description: transaction date
          example: "20230519"
        nsu:
          type: string
          description: retrieval reference
          example: "44206427152"
        codAutorizacao:
          type: string
          description: auth code
          example: "000000004"
        qtdeParcelas:
          type: string
          description: Quantidade de parcelas
          example: "12"
        parcela:
          type: string
          description: Parc number
          example: '010'
        valorBrutoVenda:
          type: string
          description: total transaction amount
          example: "445.79"
        valorBrutoParcela:
          type: string
          description: parc transaction amount
          example: "44.57"
        taxaMdr:
          type: string
          description: tax amount(%)
          example: "000002.8400"
        valorTaxaMdr:
          type: string
          description: Tax amount
          example: "2.41"
        valorLiquidoParcela:
          type: string
          description: transaction amount net 
          example: "443.79"
        terminal:
          type: string
          description: terminal Id
          example: "PGW0C1D9"
        numeroEc:
          type: string
          description: Ec number
          example: "PGW0C1D9"
        codTipoTerminal:
          type: string
          description: terminal type code
          example: "365"
        descTipoTerminal:
          type: string
          description: terminal type description
          example: "POS GPRS Desktop"
        canal:
          type: string
          description: channel
          example: "POS"
        codTipoTransacao:
          type: string
          description: transaction type code
          example: "464"
        tipoProduto:
          type: string
          description: product type
          enum: 
            - 'Débito'
            - 'Crédito à vista'
            - 'Parcelado lojista'
            - 'Parcelado emissor'
            - 'Crediário'
            - 'Não identificado'
          example: "Débito"
        dataOriginalPagamento:
          type: string
          description: original transaction date
          example: "20230515"
        dataPrevistaPagamento:
          type: string
          description: predicted transaction date
          example: "20230519"
        dataEfetivaPagamento:
          type: string
          description: effective transaction date
          example: "20230521"
