openapi: 3.0.2
info:
  description: Wallet PIX api
  version: v1.11.50
  title: Wallet PIX
  contact:
    name: First Data
    url: https://www.firstdata.com/pt_br/home.html
  license:
    name: Licença - Open Source
    url: https://www.firstdata.com/pt_br/home.html
servers:
  - url: https://cat.api.firstdata.com
x-production-url: prod.api.firstdata.com
x-config:
  tryItOut: true
paths:
  /pix/transactions:
    get:
      x-proxy-name: Wallet - PIX - Transactions
      x-group-name: Payment & Prepayment Information
      x-child-product-name: Digital Solutions
      summary: Transaction query
      description: Consultation of transactions carried out by BRFTS
      operationId: getTransactionData
      parameters:
        - name: institutionNumber
          in: header
          description: Institution Number
          example: "00000003"
          required: true
          schema:
            type: string
        - name: serviceContractId
          in: header
          description: Service Contract Identity
          required: true
          schema:
            type: string
        - name: merchantId
          in: header
          description: Merchant Identity
          required: true
          schema:
            type: string
        - name: terminalId
          in: header
          description: Terminal Identity
          required: false
          schema:
            type: string
        - name: dateBegin
          in: header
          description: 'input format: yyyy-MM-dd HH:mm:ss'
          required: false
          schema:
            type: string
        - name: dateEnd
          in: header
          description: 'input format: yyyy-MM-dd HH:mm:ss'
          required: false
          schema:
            type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransactionQRCodeDTO'
        "404":
          description: Not Found
        "500":
          description: Internal Server Error
  /pix/credentials/{pspCode}/{taxIdNumber1}:
    get:
      x-proxy-name: Wallet - PIX - Credentials
      x-group-name: Payment & Prepayment Information
      x-child-product-name: Digital Solutions
      summary: Credential query
      description: Consultation of credential carried out by BRFTS
      operationId: getMerchantData
      parameters:
        - name: pspCode
          in: path
          description: PSP Code - Payment Service Provider Code
          required: true
          schema:
            type: string
        - name: taxIdNumber1
          in: path
          description: CPF or CNPJ
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CredentialDataResponse'
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
  /pix/credentials:
    post:
      x-proxy-name: Wallet - PIX - New Credentials
      x-group-name: Payment & Prepayment Information
      x-child-product-name: Digital Solutions
      summary: Registration new credential
      description: Registration of new credential in BRFTS
      operationId: addMerchantData
      parameters:
        - name: credentialData
          description: Credential data
          in: query
          required: true
          schema:
            $ref: '#/components/schemas/CredentialDataRequest'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CredentialDataResponse'
        '400':
          description: Missing or invalid request body
        '500':
          description: Internal Server Error
components:
  schemas:
    TransactionQRCodeDTO:
      type: object
      properties:
        institutionNumber:
          type: string
          example: E.g. the number '000004' refers to 'SICREDI
          description: Alliance - institution number
        serviceContractId:
          type: string
          example: E.g. 101, 104, 110, 113, 149
          description: Alliance - service contract ID
        taxIdNumber:
          type: string
          example: E.g. CPF with 11 digits (###.###.###-##) and CNPJ with 14 digits(##.###.###/####-##)
          description: Identification Number for Individuals or Legal Entities (CPF or CNPJ)
        merchantId:
          type: string
          description: Merchant ID which acquired the top up transaction
        terminalId:
          type: string
          description: Terminal ID linked to Merchant ID
        codePSP:
          type: string
          description: PSP - Code
        wallet:
          type: string
          example: E.g. Pix
          description: Wallet
        included:
          type: string
          description: Transaction - creation date
        nsu:
          type: string
          description: Transaction - NSU
        amountTransaction:
          type: string
          description: Transaction - value
        amountTransactionFormatted:
          type: string
          description: 'Transaction - formatted value '
        dateQRCodeGenerated:
          type: string
          description: QRCode - generation date
        confirmationReceived:
          type: string
          description: Confirmation - date and time
        undoneDateTransaction:
          type: string
          description: Undone - date and time
        undoneResponseCode:
          type: string
          description: Undone - response code
        undoneReason:
          type: string
          description: Undone - reason
        referenceNumberFEPAS:
          type: string
          description: FEPAS - reference number
        authorizationCode:
          type: string
          description: Authorization Code
        systemRetreivalRefrenceNumber:
          type: string
          description: SRRN
        status:
          type: string
          example: 'Existing status types: UNAUTHORIZED, CANCELED, UNDONE, UNCONFIRMED, APPROVED, TIMEOUT'
          description: Transaction - status
    CredentialDataResponse:
      type: object
      properties:
        pspCode:
          type: string
          example: with 8 digits(########)
          description: psp code
        pspName:
          type: string
          example: Existing psp types
          description: psp name
        pspClientId:
          type: string
          example: with 9 digits(#########)
          description: psp client id
        pspClientSecret:
          type: string
          example: with 12 digits(############)
          description: PSP authentication key
        taxIdNumber1:
          type: string
          example: E.g. CPF with 11 digits (###.###.###-##) and CNPJ with 14 digits(##.###.###/####-##)
          description: Identification Number for Individuals or Legal Entities (CPF or CNPJ)
        keyType:
          type: string
          example: with 2 digits(##)
          description: Key type
        key:
          type: string
          example: with 11 digits(###########)
          description: Key
        dateLastBoarding:
          type: string
          description: date Last Boarding
        dataLastBoarding:
          type: string
          description: data Last Boarding
    CredentialDataRequest:
      type: object
      properties:
        pspCode:
          type: string
          example: with 8 digits(########)
          description: psp code
        pspName:
          type: string
          example: Existing psp types
          description: psp name
        pspClientId:
          type: string
          example: with 9 digits(#########)
          description: psp client id
        pspClientSecret:
          type: string
          example: with 12 digits(############)
          description: PSP authentication key
        taxIdNumber1:
          type: string
          example: E.g. CPF with 11 digits (###.###.###-##) and CNPJ with 14 digits(##.###.###/####-##)
          description: Identification Number for Individuals or Legal Entities (CPF or CNPJ)
        keyType:
          type: string
          example: with 2 digits(##)
          description: Key type
        key:
          type: string
          example: with 11 digits(###########)
          description: Key
