openapi: 3.0.2
info:
  description: Search for Chargeback Information by Tax ID, Merchant Code and Instituion
  title: Search for Chargeback Information by Tax ID, Merchant Code and Instituion
  version: "1.0"
  termsOfService: urn:tos
  contact: {}
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0
servers:
  - url: https://cat.api.firstdata.com
x-production-url: prod.api.firstdata.com
x-config:
  tryItOut: true
tags:
  - name: Search for Chargeback Information by Tax ID, Merchant Code and Instituion
    description: Search for Chargeback Information by Tax ID, Merchant Code and Instituion
paths:
  "/bwa/chargeback-api-external/api/chargeback/apigee/filter":
    post:
      tags:
        - Search for Chargeback Information by Tax ID, Merchant Code and Instituion
      x-proxy-name: Consult Chargeback Information
      x-group-name: Sales Information
      x-child-product-name: Digital Solutions
      description: Search for Chargeback Information by Tax ID, Merchant Code and Instituion
      summary: Merchant Information & Cases
      operationId: SearchForChargebackInformationByTaxIDMerchantCodeAndInstituion
      parameters:
        - in: query
          name: page
          schema:
            type: integer
          description: The number of page
        - in: query
          name: size
          schema:
            type: integer
          description: Items per page
        - name: Message-Signature
          in: header
          description: HMAC
          required: true
          example: 1tsmkG9Ip3k2rcO5cETButfP3D/RS6U8troFF+mUrno=
          schema:
            type: string
        - name: Api-Key
          in: header
          description: APigee Key
          required: true
          example: X0GW3QGOYFn4r7DHcVC8KuatUnNs6MGB'
          schema:
            type: string
        - name: auth
          in: header
          description: Oauth Key
          required: true
          schema:
            type: string
        - name: Timestamp
          in: header
          description: Date - Epoch Format
          required: true
          example: '1563309156733'
          schema:
            type: string
        - name: Client-Request-Id
          in: header
          description: Randomly generated by client
          required: true
          example: 6NYHj9Pgyxc84rmafpwG4fjhLwFfJYFVmxJOcgziD0QN3q6mGC
          schema:
            type: string
        - name: instituicao
          in: header
          description: Merchant Institution Number
          example: "00000003"
          required: true
          schema:
            type: string
        - name: estabelecimento
          in: header
          description: Merchant Establishment Number
          example: "99999999"
          required: false
          schema:
            type: string
        - name: documento
          in: header
          description: Tax ID (CPF/CNPJ) Information
          required: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/DChargebackByRequestDateFilterRequest"
        description: body
        required: true
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DPage"
        "400":
          description: BadRequest
          content: { }
        "401":
          description: Unauthorized
          content: { }
      deprecated: false
      security:
        - JWT: []
  "/api/chargeback/apigee/filter/installments":
    post:
      x-proxy-name: Search for Chargeback installments Information by Tax ID, Merchant Code, Instituion and Action Date
      x-group-name: Sales Information
      x-child-product-name: Digital Solutions
      summary: Search for Chargeback installments Information by Tax ID, Merchant Code, Instituion and Action Date
      operationId: SearchForChargebackInstallmentsInformationByTaxIDMerchantCodeInstituionAndActionDate
      description: Search for Chargeback installments Information by Tax ID, Merchant Code, Instituion and Action Date
      parameters:
        - in: query
          name: page
          schema:
            type: integer
          description: The number of page
        - in: query
          name: size
          schema:
            type: integer
          description: Items per page
        - name: Message-Signature
          in: header
          description: HMAC
          required: true
          example: 1tsmkG9Ip3k2rcO5cETButfP3D/RS6U8troFF+mUrno=
          schema:
            type: string
        - name: Api-Key
          in: header
          description: APigee Key
          required: true
          example: X0GW3QGOYFn4r7DHcVC8KuatUnNs6MGB'
          schema:
            type: string
        - name: auth
          in: header
          description: Oauth Key
          required: true
          schema:
            type: string
        - name: Timestamp
          in: header
          description: Date - Epoch Format
          required: true
          example: '1563309156733'
          schema:
            type: string
        - name: Client-Request-Id
          in: header
          description: Randomly generated by client
          required: true
          example: 6NYHj9Pgyxc84rmafpwG4fjhLwFfJYFVmxJOcgziD0QN3q6mGC
          schema:
            type: string
        - name: instituicao
          in: header
          description: Merchant Institution Number
          example: "00000003"
          required: true
          schema:
            type: string
        - name: estabelecimento
          in: header
          description: Merchant Establishment Number
          example: "99999999"
          required: false
          schema:
            type: string
        - name: documento
          in: header
          description: Tax ID (CPF/CNPJ) Information
          required: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/DChargebackByActionDateFilterRequest"
        description: body
        required: true
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DPage"
        "400":
          description: BadRequest
          content: { }
        "401":
          description: Unauthorized
          content: { }
      deprecated: false
components:
  securitySchemes:
    JWT:
      type: apiKey
      name: Authorization
      in: header
  schemas:
    DChargebackByRequestDateFilterRequest:
      type: object
      properties:
        authCode:
          type: string
          description: Authorization code returned by the cardbrand at time of authorization of the original transaction
        cardBrand:
          type: string
          description: Card Brand to be Searched - Visa | Mastercard | Elo Full | Hipercard | Amex Full
          example: "VISA"
        chargebackKey:
          type: string
          description: Encrypted chargeback key
          example: "31472582506723******9011922359"
        reasonCode:
          type: string
          description: Card Brand Reason code
          example: "30-Product not received or service not provided"
        chargebackSlip:
          type: string
          description: Chargeback Slip
          example: "1109039753"
        requestDateStart:
          type: string
          format: date
          description: Request Date Start Information. Format YYYY-MM-DD
          example: "2022-09-20"
        requestDateEnd:
          type: string
          format: date
          description:  Request Date End Information. Format YYYY-MM-DD. Max difference in days are 10.
          example: "2022-09-30"
      title: DChargebackByRequestDateFilterRequest
      description: Filter object
    DChargebackByActionDateFilterRequest:
      type: object
      properties:
        authCode:
          type: string
          description: Authorization code returned by the cardbrand at time of authorization of the original transaction
        cardBrand:
          type: string
          description: Card Brand to be Searched - Visa | Mastercard | Elo Full | Hipercard | Amex Full
          example: "VISA"
        chargebackKey:
          type: string
          description: Encrypted chargeback key
          example: "31472582506723******9011922359"
        reasonCode:
          type: string
          description: Card Brand Reason code
          example: "30-Product not received or service not provided"
        chargebackSlip:
          type: string
          description: Chargeback Slip
          example: "1109039753"
        actionStartDate:
          type: string
          format: date
          description: Action Start Date Information. Format YYYY-MM-DD
          example: "2022-09-20"
        actionEndDate:
          type: string
          format: date
          description: Action End Date Information. Format YYYY-MM-DD. Max difference in days are 10.
          example: "2022-09-30"
      title: DChargebackByActionDateFilterRequest
      description: Filter object to search all chargeback installments by action date
    DPage:
      type: object
      title: DPage
      description: Page wrapper with list of chargebacks object
      properties:
        data:
          type: array
          description: Array of chargebacks object
          items:
            $ref: '#/components/schemas/DChargebackTransactionResponse'
        lastPage:
          type: boolean
          description: Is the last page
          example: true
        totalPages:
          type: integer
          description: Total number of pages
          example: 0
        totalItems:
          type: integer
          description: Total number of items
          example: 1
        currentPage:
          type: integer
          description: Current Page
          example: 0
    DChargebackTransactionResponse:
      type: object
      title: DChargebackTransactionResponse
      description: Page wrapper with list of chargebacks object
      properties:
        chargebackKey:
          type: string
          description: Chargeback encrypted key
          example: "98703001515590******1242667902"
        orderNumber:
          type: string
          description: Order Number
        requestDate:
          type: string
          format: date
          description: Processing Date Information. Format YYYY-MM-DD
          example: "2022-09-30"
        documentationScreeningStatus:
          type: string
          description: Documentation Screening Status
          example: "Readable document"
        merchantName:
          type: string
          description: Merchant Name
          example: "TEST MERCHANT"
        merchantId:
          type: integer
          description: Merchant Id
          example: 99999999
        chargebackReasonCode:
          type: string
          description: Reason Code of chargeback
          example: "30-Product not received or service not provided"
        chargebackSlip:
          type: string
          description: Chargeback Slip
          example: "1109039753"
        cardholderCardNumber:
          type: string
          description: Card Number
          example: "515590******1242"
        arn:
          type: string
          description: Chargeback Acquirer Reference Number
          example: "85182199329946084425304"
        transactionDate:
          type: string
          description: Transaction Date
          example: "2022-09-30"
        transactionAuthCode:
          type: string
          description: Authorization code returned by the cardbrand at time of authorization of the original transaction
          example: "667902"
        totalTransactionAmount:
          type: number
          description: Total Transaction Amount
          example: 407.07
        transactionType:
          type: string
          description: Transaction Type
          example: "Credit Card"
          enum:
            - Debit Card
            - Credit Card
        cardBrand:
          type: string
          description: Card Brand
          example: "Visa"
          enum:
            - Visa
            - Mastercard
            - Elo Full
            - Hipercard/Hiper
            - Amex Full
        transactionTypeDescription:
          type: string
          description: Transaction Type Description
          example: "Merchant Install-07 parcels"
        note:
          type: string
          description: Observation
          example: ""
        institution:
          type: object
          description: Institution object
          $ref: '#/components/schemas/DInstitutionResponse'
        serviceContract:
          type: string
          description: Institution Service Contract
          example: "101-Merchant Retail BIN"
        merchantTerminalNumber:
          type: string
          description: Terminal Logical Number
          example: "EII0184B"
        transactionEntryMode:
          type: string
          description: Transaction capture mode (entry mode)
          example: "054-eCommerce, Canal Criptografado"
        attachedDocument:
          type: boolean
          description: If the chargaback has document
          example: true
        actionDate:
          type: string
          format: date
          description: Date of action at the chargeback
          example: "2022-09-30"
        companyNumber:
          type: string
          description: Tax ID (CPF/CNPJ) Information
          example: "98102650006779"
        processingDate:
          type: string
          format: date
          description: Processing Date Information. Format YYYY-MM-DD
          example: "2022-09-20"
        originalNumberSlip:
          type: string
          description: Original Slip
          example: "1109039753"
        chargebackValue:
          type: number
          description: Chargeback value
          example: 78.90
        originalInstallmentValue:
          type: number
          description: Installment original value
          example: 41.87
        netValue:
          type: number
          description: Net value
          example: 36.14
        installmentNumber:
          type: number
          description: Installment number
          example: 4
        numberOfInstallments:
          type: number
          description: Number of total installments
          example: 12
        chargebackStatus:
          type: string
          description: Chargeback Status
          example: "New"
          enum:
            - New
            - Documet request
            - In analysis
            - In screening
            - Done
        action:
          type: string
          description: Chargeback Action
          example: "Debit"
        actionNotes:
          type: string
          description: Notes given when analyst performs an action
          example: "Debit to E.C, cardholder does not recognize the transaction, fraud dispute."
        cancelSlip:
          type: string
          description: Cancel Slip
          example: "45775154"
        indicatorDocumentationSentByIssuer:
          type: string
          description: Indicator of Documentation sent by the Issuer
          example: "003-Document to follow"
        sourceCurrency:
          type: number
          description: Code of currency
          example: 986
        sourceValue:
          type: number
          description: Source value
          example: 52.99
        quotationCurrency:
          type: number
          description: Quototion currency
          example: 986
        chargebackValueInDolar:
          type: number
          description: Chargeback value in dolar
          example: 4578.65
        conversionFactor:
          type: number
          description: Conversion factor
          example: 1
        productAccount:
          type: string
          description: Product Account
          example: "457896523541"
        deadline:
          type: string
          format: date
          description: Deadline may vary according to the card brand
          example: "2023-03-01"
        priorityTransaction:
          type: string
          description: If the transaction has priority
          example: "yes"
    DInstitutionResponse:
      type: object
      title: DInstitutionResponse
      description: Institution object
      properties:
        code:
          type: integer
          description: Code of institution
          example: 7
        name:
          type: string
          description: Name of institution
          example: "Fiserv"
