openapi: 3.0.1
x-stoplight:
  id: hh7p35lir65s1
info:
  description: Search for Transactions Historic Authorization
  version: '1.0'
  title: Search for Transactions Historic Authorization
  termsOfService: 'urn:tos'
  contact:
    name: First Data
    url: 'https://www.firstdata.com/pt_br/home.html'
  license:
    name: Licença - Open Source
    url: 'https://www.firstdata.com/pt_br/home.html'
servers:
  - url: 'https://cat.api.firstdata.com'
x-production-url: prod.api.firstdata.com
x-config:
  tryItOut: true
tags:
  - name: Transacions Authorization
    description: Transacions Authorization
paths:
  '/bwa/autorizacoes-historico/resources/v2/{inst}/{merchant}/{dataInicio}/{dataFim}':
    get:
      x-proxy-name: 'Merchant Historic Authorizations - Consult by Institution Number, Merchant Code and Date'
      x-group-name: Sales Information
      x-child-product-name: Digital Solutions
      description: Search the Authorizations by Merchant Code and Date
      summary: Search the Authorizations by Merchant Code and Date
      tags:
        - Transacions Authorization
      operationId: searchHistoricAuthorization
      parameters:
        - name: Message-Signature
          in: header
          description: HMAC
          required: true
          example: 1tsmkG9Ip3k2rcO5cETButfP3D/RS6U8troFF+mUrno=
          schema:
            type: string
        - name: Api-Key
          in: header
          description: APigee Key
          required: true
          example: 'null'
          schema:
            type: string
        - name: auth
          in: header
          description: Oauth Key
          required: true
          example: 'null'
          schema:
            type: string
        - name: Timestamp
          in: header
          description: Date - Epoch Format
          required: true
          example: '1563309156733'
          schema:
            type: string
        - name: Client-Request-Id
          in: header
          description: Randomly generated by client
          required: true
          example: 6NYHj9Pgyxc84rmafpwG4fjhLwFfJYFVmxJOcgziD0QN3q6mGC
          schema:
            type: string
        - name: inst
          in: path
          description: Merchant Institution Number
          example: '00000003'
          required: true
          schema:
            type: string
        - name: merchant
          in: path
          description: Merchant Code
          example: '91002806'
          required: true
          schema:
            type: string
        - name: dataInicio
          in: path
          description: Inicial Date
          example: '20230401'
          required: true
          schema:
            type: string
        - name: dataFim
          in: path
          description: Final Date
          example: '20230420'
          required: true
          schema:
            type: string
        - name: codTipoAutorizacao
          in: query
          description: Authorization code
          example: '313000, 003100'
          required: false
          schema:
            type: string
        - name: tipoCanal
          in: query
          description: Chanel type
          example: POS
          required: false
          schema:
            type: string
        - name: tipoProduto
          in: query
          description: Product
          example: Débito
          required: false
          schema:
            type: string
        - name: tipoBandeira
          in: query
          description: Schema
          example: Visa
          required: false
          schema:
            type: string
        - name: status
          in: query
          description: Status
          example: 'Autorizada'
          required: false
          schema:
            type: string
        - name: codAutorizacao
          in: query
          description: Authorization code
          example: 'AG6852'
          required: false
          schema:
            type: string
        - name: terminal
          in: query
          description: Authorization code
          example: 'HLS01D9B'
          required: false
          schema:
            type: string
        - name: valorMinimo
          in: query
          description: Min. Value
          example: '0'
          required: false
          schema:
            type: string
        - name: valorMaximo
          in: query
          description: Max. value
          example: '10000'
          required: false
          schema:
            type: string
        - name: tipoSumarizacao
          in: query
          description: 'Summarization Type Possible values [ R - (RANGE between dates) / D - (DATA meaning Date) / P - (PRODUTO meaning Product) / B - (BANDEIRA meaning Association/Schema) / S - Status]'
          required: false
          schema:
            type: string
            enum:
              - R
              - D
              - P
              - B
              - S
      responses:
        '200':
          description: Successfully Done
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseV2'
      deprecated: false
  '/bwa/autorizacoes-historico/resources/v2/multiplas/autorizacoes/{inst}/{dataInicio}/{dataFim}':
    post:
      x-proxy-name: 'Merchant Historic Authorizations - Consult by Institution Number, Merchant Code and Date - Multiple Merchants'
      x-group-name: Sales Information
      x-child-product-name: Digital Solutions
      description: Search the Authorizations by Merchant Code and Date - Multiple Merchants
      summary: Search the Authorizations by Merchant Code and Date - Multiple Merchants
      tags:
        - Transacions Authorization
      operationId: searchHistoricAuthorizationMultipleMerchants
      parameters:
        - name: Message-Signature
          in: header
          description: HMAC
          required: true
          example: 1tsmkG9Ip3k2rcO5cETButfP3D/RS6U8troFF+mUrno=
          schema:
            type: string
        - name: Api-Key
          in: header
          description: APigee Key
          required: true
          example: 'null'
          schema:
            type: string
        - name: auth
          in: header
          description: Oauth Key
          required: true
          example: 'null'
          schema:
            type: string
        - name: Timestamp
          in: header
          description: Date - Epoch Format
          required: true
          example: '1563309156733'
          schema:
            type: string
        - name: Client-Request-Id
          in: header
          description: Randomly generated by client
          required: true
          example: 6NYHj9Pgyxc84rmafpwG4fjhLwFfJYFVmxJOcgziD0QN3q6mGC
          schema:
            type: string
        - name: inst
          in: path
          description: Merchant Institution Number
          example: '00000003'
          required: true
          schema:
            type: string
        - name: instituicao
          in: header
          description: Merchant Institution Number
          example: '00000003'
          required: true
          schema:
            type: string    
        - name: merchant
          in: header
          description: Merchant Code
          example: '91002806'
          required: true
          schema:
            type: string
        - name: dataInicio
          in: path
          description: Inicial Date
          example: '20230401'
          required: true
          schema:
            type: string
        - name: dataFim
          in: path
          description: Final Date
          example: '20230420'
          required: true
          schema:
            type: string
        - name: codTipoAutorizacao
          in: query
          description: Authorization code
          example: '313000, 003100'
          required: false
          schema:
            type: string
        - name: tipoCanal
          in: query
          description: Chanel type
          example: POS
          required: false
          schema:
            type: string
        - name: tipoProduto
          in: query
          description: Product
          example: Débito
          required: false
          schema:
            type: string
        - name: tipoBandeira
          in: query
          description: Schema
          example: Visa
          required: false
          schema:
            type: string
        - name: status
          in: query
          description: Status
          example: 'Autorizada'
          required: false
          schema:
            type: string
        - name: codAutorizacao
          in: query
          description: Authorization code
          example: 'AG6852'
          required: false
          schema:
            type: string
        - name: terminal
          in: query
          description: Authorization code
          example: 'HLS01D9B'
          required: false
          schema:
            type: string
        - name: valorMinimo
          in: query
          description: Min. Value
          example: '0'
          required: false
          schema:
            type: string
        - name: valorMaximo
          in: query
          description: Max. value
          example: '10000'
          required: false
          schema:
            type: string
        - name: tipoSumarizacao
          in: query
          description: 'Summarization Type Possible values [ R - (RANGE between dates) / D - (DATA meaning Date) / P - (PRODUTO meaning Product) / B - (BANDEIRA meaning Association/Schema) / S - Status]'
          required: false
          schema:
            type: string
            enum:
              - R
              - D
              - P
              - B
              - S
        - name: sumarizacaoHierarquia
          in: query
          description: Sum by hierarchy. Used with summarization filter
          example: 'true'
          required: false
          allowEmptyValue: false
          schema:
            type: string      
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Merchant'
        required: true    
      responses:
        '200':
          description: Successfully Done
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseV2'
      deprecated: false    
  '/bwa/autorizacoes-historico/resources/v2/relatorioVendas/{inst}/{merchant}/{dataInicio}/{dataFim}':
    get:
      x-proxy-name: 'Merchant Historic Authorizations V2 - Sales Report'
      x-group-name: Sales Information
      x-child-product-name: Digital Solutions
      description: Sales Report
      summary: Sales Report
      tags:
        - Sales Report
      operationId: salesReport
      parameters:
        - name: Message-Signature
          in: header
          description: HMAC
          required: true
          example: 1tsmkG9Ip3k2rcO5cETButfP3D/RS6U8troFF+mUrno=
          schema:
            type: string
        - name: Api-Key
          in: header
          description: APigee Key
          required: true
          example: 'null'
          schema:
            type: string
        - name: auth
          in: header
          description: Oauth Key
          required: true
          example: 'null'
          schema:
            type: string
        - name: Timestamp
          in: header
          description: Date - Epoch Format
          required: true
          example: '1563309156733'
          schema:
            type: string
        - name: Client-Request-Id
          in: header
          description: Randomly generated by client
          required: true
          example: 6NYHj9Pgyxc84rmafpwG4fjhLwFfJYFVmxJOcgziD0QN3q6mGC
          schema:
            type: string
        - name: inst
          in: path
          description: Merchant Institution Number
          example: '00000003'
          required: true
          schema:
            type: string
        - name: merchant
          in: path
          description: Merchant Code
          example: '91002806'
          required: true
          schema:
            type: string
        - name: dataInicio
          in: path
          description: Inicial Date
          example: '20230401'
          required: true
          schema:
            type: string
        - name: dataFim
          in: path
          description: Final Date
          example: '20230420'
          required: true
          schema:
            type: string
        - name: produto
          in: query
          description: Product
          example: 'credito, debito'
          required: false
          schema:
            type: string
        - name: bandeira
          in: query
          description: Schema
          example: 'Visa, Elo'
          required: false
          schema:
            type: string
        - name: tipoSumarizacao
          in: query
          description: 'Summarization Type Possible values  A - (meaning Authorization type) / B - (BANDEIRA meaning Association/Schema) ]'
          required: false
          schema:
            type: string
            enum:
              - A
              - B
        - name: codTipoAutorizacoes
          in: query
          description: Schema
          example: '003100'
          required: false
          schema:
            type: string
        - name: status
          in: query
          description: Auth status
          example: 'Autorizada'
          required: false
          schema:
            type: string
        - name: horaInicio
          in: query
          description: Inicial hour
          example: '120000'
          required: false
          schema:
            type: string
        - name: horaFim
          in: query
          description: Final hour
          example: '180000'
          required: false
          schema:
            type: string
        - name: terminal
          in: query
          description: Terminal
          example: 'PGW0A2E1'
          required: false
          schema:
            type: string
      responses:
        '200':
          description: Successfully Done
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseRelatorioVendas'
      deprecated: false
components:
  schemas:
    ResponseV2:
      type: object
      description: 'All the sales based on input parameters ''Receber or Realizadas''. Max Interval of Dates is 30 days for all the parameters with Summ Information. If tipoSumarizacao is not defined/sent, the Maxium Interval between dates will be 7 days. 1) Paramater ''Realizadas'' + Summ ''D'', it will summ up by Transaction Date; 2) Parameter ''Receber'' + Summ ''D'', it will summ up by Payment Date (future date).'
      required:
        - codigoRetorno
        - descricaoRetorno
        - first
        - last
        - pageNumber
        - size
        - sumarizacao
        - totalElements
        - totalPages
        - autorizacoes
      properties:
        codigoRetorno:
          type: string
          description: Return Code. 00 for Successs. 01 Errors. 99 System Errors
          enum:
            - 00 - Successfully
            - 01 - Errors
            - 99 - System Errors
        descricaoRetorno:
          type: string
          description: Return Description
        first:
          type: boolean
          description: First Page
        last:
          type: boolean
          description: Last Page
        pageNumber:
          type: integer
          format: int32
          description: Page Number
        size:
          type: integer
          format: int32
          description: Page Size
        sumarizacao:
          type: array
          description: This block will be returned when Summ Information is provided
          items:
            $ref: '#/components/schemas/Sumarizacao'
        totalElements:
          type: integer
          format: int32
          description: Total of Records informados.
        totalPages:
          type: integer
          format: int32
          description: Total of Pages
        autorizacoes:
          type: array
          description: This block will be returned when Summ Information is not provided
          items:
            $ref: '#/components/schemas/AutorizacoesV2'
      title: ResponseV2
      x-stoplight:
        id: y4rjwasmdsx2w
    ResponseRelatorioVendas:
      type: object
      description: 'The Sales Report returns informations of summarization by authorization type and schema.'
      required:
        - codigoRetorno
        - descricaoRetorno
        - bandeira
        - tipoAutorizacoes
      properties:
        codigoRetorno:
          type: string
          description: Return Code. 00 for Successs. 01 Errors. 99 System Errors
          enum:
            - 00 - Successfully
            - 01 - Errors
            - 99 - System Errors
        descricaoRetorno:
          type: string
          description: Return Description
        bandeira:
          type: array
          description: This block will be returned when Summ Information is provided
          items:
            $ref: '#/components/schemas/Bandeiras'
        tipoAutorizacoes:
          type: array
          description: This block will be returned when Summ Information is provided
          items:
            $ref: '#/components/schemas/TipoAutorizacoes'
      title: ResponseRelatorioVendas
    Bandeiras:
      type: object
      description: 'Summarization schema.'
      required:
        - bandeira
        - tipoAutorizacoes
      properties:
        bandeira:
          type: string
          description: Schema Description
          example: 'Maestro'
        tipoAutorizacoes:
          type: array
          description: This block will be returned when Summ Information is provided
          items:
            $ref: '#/components/schemas/Bandeira'
      title: Bandeiras
    Bandeira:
      type: object
      description: 'Summarization schema.'
      required:
        - tipoAutorizacao
        - quantidade
        - valor
      properties:
        tipoAutorizacao:
          type: string
          description: Authorization type
          example: 'Débito'
        quantidade:
          type: string
          description: Number of elements of authorization type in the refered schema
          example: '1'
        valor:
          type: string
          description: Summarized value
          example: '500'
      title: Bandeiras
    TipoAutorizacoes:
      type: object
      description: 'Summarization authorization type.'
      required:
        - tipoAutorizacao
        - bandeiras
      properties:
        tipoAutorizacao:
          type: string
          description: Authorization type description
          example: 'Maestro'
        bandeiras:
          type: array
          description: This block will be returned when Summ Information is provided
          items:
            $ref: '#/components/schemas/TipoAutorizacao'
      title: TipoAutorizacoes
    TipoAutorizacao:
      type: object
      description: 'Summarization authorization type.'
      required:
        - bandeira
        - quantidade
        - valor
      properties:
        bandeira:
          type: string
          description: Schema
          example: 'Débito'
        quantidade:
          type: string
          description: Number of elements of schema in the refered authorization type
          example: '1'
        valor:
          type: string
          description: Summarized value
          example: '500'
      title: TipoAutorizacao
    AutorizacoesV2:
      type: object
      description: This block will be returned when authorizations Information
      properties:
        codAutorizacao:
          type: string
          description: Authorization code
          example: '088041'
        codTipoAutorizacao:
          type: string
          description: Authorization code type
          example: '002000'
        quantParcelas:
          type: string
          description: Number of installments
          example: '5'
        tipoAutorizacao:
          type: string
          description: Authorization type
          example: 'Débito'
          enum:
            - 'Pré Autorização Crédito'
            - 'Pré Autorização Crédito Parcelado'
            - 'Pré Autorização Crédito ECOM'
            - 'Pré Autorização Crédito Parcelado Lojista ECOM'
            - 'Pré Autorização Crédito Parcelado Emissor ECOM'
            - 'Débito'
            - 'Recarga Celular Débito'
            - 'Pagamento de Contas no Débito'
            - 'Pagamento de Contas DOTZ'
            - 'Crédito'
            - 'Voucher'
            - 'Crédito Parcelado Lojista'
            - 'Crédito Parcelado Emissor'
            - 'Recarga Celular Crédito'
            - 'Confirmação da Pré Autorização Crédito'
            - 'Confirmação da Pré Autorização Crédito Parcelado'
            - 'Estorno'
            - 'Ativação Terminal'
            - 'Relatório Parcial'
            - 'Relatório Dia'
            - 'Teste Comunicação'
            - 'Anexo Recarga'
            - 'Compra Recorrente'
            - 'Consulta de Crediário'
            - 'Compra Crediário'
            - 'Estorno Crédito ECOM'
            - 'Confirmação Pré Autorização Crédito ECOM'
            - 'Confirmação Pré Autorização Crédito Parcelado Lojista ECOM'
            - 'Confirmação Pré Autorização Crédito Parcelado Emissor ECOM'
            - 'Estorno Débito ECOM'
            - 'Estorno Crédito Parcelado Lojista ECOM'
            - 'Estorno Crédito Parcelado Emissor ECOM'
            - 'Estorno Pré Autorizaçao'
            - 'Estorno Pré Autorização Confirmada Crédito'
            - 'Inicialização'
            - 'Compra com Troco'
            - 'Saque'
        comprovante:
          type: string
          description: Payment voucher
          example: '000000061'
        tipoCanal:
          type: string
          description: Chanel type
          example: POS
          enum:
            - POS
            - TEF
            - MPOS
            - ECOMMERCE
        estabelecimento:
          type: string
          description: Merchant code
          example: '91532205'
        data:
          type: string
          description: Date
          example: '20230425'
        hora:
          type: string
          description: Transaction hour
          example: '095522'
        dataExpiracao:
          type: string
          description: Expiration date
          example: '20230425'
        dataConfirmacao:
          type: string
          description: Expiration date
          example: '20230425'
        horaConfirmacao:
          type: string
          description: Expiration date
          example: '180425'
        terminal:
          type: string
          description: Device Code used for Authorization
          example: PGWK7SJ2
        bandeira:
          type: string
          description: Schema
          example: Visa
          enum:
            - Mastercard
            - Maestro
            - Cabal
            - Elo
            - Banese
            - Ticket
            - Alelo
            - Sorocred
            - Banestes
            - Amex
            - Hipercard
            - Sodexo
            - VR
            - Visa
            - Softnex
            - Redecompras
            - Fepas
        produto:
          type: string
          description: Product
          example: Débito
          enum:
            - Crédito
            - Crédito Internacional
            - Débito
            - Refeição
            - Alimentação
            - Premium
            - Cultura
            - Auto
            - Gift
            - Débito Internacional
            - Corporativo
            - Benefícios
            - Multiplo
        numeroCartao:
          type: string
          description: Card number
          example: 414506******8869
        status:
          type: string
          description: status
          example: Autorizada
          enum:
            - Autorizada
            - A Confirmar
            - Estornada
            - Recusada
            - Expirada
        valorTransacao:
          type: string
          description: Transaction value
          example: '25'
        valorConfirmado:
          type: string
          description: Transaction value
          example: '25'
        taxaConveniencia:
          type: string
          description: Convenience fee
          example: ''
        valorSemTaxa:
          type: string
          description: Value without fee
          example: '0'
        networkToken:
          type: string
          description: Network token
          example: '12345SUPAYMENT65432101U'  
    Sumarizacao:
      type: object
      description: This block will be returned when Summ Information is provided
      properties:
        estabelecimento:
          type: string
          description: Merchant Id
          example: '31000003'
        tipoSumarizacao:
          type: string
          description: Summarization type
          example: 'Range'
        quantidade:
          type: string
          description: Number of elements
          example: '68'
        sumarizacao:
          type: string
          description: Summarized value
          example: '2200000'
        sumarizacaoConfirmado:
          type: string
          description: Summarized confirmed value
          example: '2200000'
    Merchant:
      type: object
      properties:
        merchants:
          type: array
          items:
            type: string
            example: ['33333332', '33333333']      
