openapi: 3.0.1
x-stoplight:
  id: hh7p35lir65s1
info:
  description: Search for Transactions Authorization
  version: '1.0'
  title: Search for Transactions Authorization
  termsOfService: 'urn:tos'
  contact:
    name: First Data
    url: 'https://www.firstdata.com/pt_br/home.html'
  license:
    name: Licença - Open Source
    url: 'https://www.firstdata.com/pt_br/home.html'
servers:
  - url: 'https://cat.api.firstdata.com'
x-production-url: prod.api.firstdata.com
x-config:
  tryItOut: true
tags:
  - name: Transacions Authorization
    description: Transacions Authorization
paths:
  '/bwa/autorizacoes/{inst}/{merchant}':
    get:
      x-proxy-name: Merchant Authorizations - Consult (Institute and marchant)
      x-group-name: Sales Information
      x-child-product-name: Digital Solutions
      description: Transacions Authorization
      summary: Transacions Authorization
      operationId: searchTransactionsAuthorization
      parameters:
        - name: Message-Signature
          in: header
          description: HMAC
          required: true
          example: 1tsmkG9Ip3k2rcO5cETButfP3D/RS6U8troFF+mUrno=
          schema:
            type: string
        - name: Api-Key
          in: header
          description: APigee Key
          required: true
          example: X0GW3QGOYFn4r7DHcVC8KuatUnNs6MGB
          schema:
            type: string
        - name: auth
          in: header
          description: Oauth Key
          required: true
          example: 'null'
          schema:
            type: string
        - name: Timestamp
          in: header
          description: Date - Epoch Format
          required: true
          example: '1563309156733'
          schema:
            type: string
        - name: Client-Request-Id
          in: header
          description: Randomly generated by client
          required: true
          example: 6NYHj9Pgyxc84rmafpwG4fjhLwFfJYFVmxJOcgziD0QN3q6mGC
          schema:
            type: string
        - name: inst
          in: path
          description: Merchant Institution Number
          example: '00000003'
          required: true
          schema:
            type: string
        - name: merchant
          in: path
          description: Merchant Code
          example: '91002806'
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Sucessfully Done
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
      deprecated: false
  '/bwa/autorizacoes/{inst}/{merchant}/{terminals}':
    get:
      x-proxy-name: 'Merchant Authorizations - Consult by Institution Number, Merchant Code and Terminal'
      x-group-name: Sales Information
      x-child-product-name: Digital Solutions
      description: Search the last transaction for devices to a given Institution Number and Merchant Code and Terminal
      summary: Search the last transaction for devices to a given Institution Number and Merchant Code
      operationId: searchLastTransaction
      parameters:
        - name: Message-Signature
          in: header
          description: HMAC
          required: true
          example: 1tsmkG9Ip3k2rcO5cETButfP3D/RS6U8troFF+mUrno=
          schema:
            type: string
        - name: Api-Key
          in: header
          description: APigee Key
          required: true
          example: 'null'
          schema:
            type: string
        - name: auth
          in: header
          description: Oauth Key
          required: true
          example: 'null'
          schema:
            type: string
        - name: Timestamp
          in: header
          description: Date - Epoch Format
          required: true
          example: '1563309156733'
          schema:
            type: string
        - name: Client-Request-Id
          in: header
          description: Randomly generated by client
          required: true
          example: 6NYHj9Pgyxc84rmafpwG4fjhLwFfJYFVmxJOcgziD0QN3q6mGC
          schema:
            type: string
        - name: inst
          in: path
          description: Merchant Institution Number
          example: '00000003'
          required: true
          schema:
            type: string
        - name: merchant
          in: path
          description: Merchant Code
          example: '91002806'
          required: true
          schema:
            type: string
        - name: terminals
          in: path
          description: Device Identification
          example: PFT001B5
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successfully Done
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
      deprecated: false
  '/bwa/autorizacoes/resources/v2/{inst}/{merchant}/{dataInicio}/{dataFim}':
    get:
      x-proxy-name: 'Merchant Authorizations V2 - Consult by Institution Number, Merchant Code and Date'
      x-group-name: Sales Information
      x-child-product-name: Digital Solutions
      description: Search the Authorizations by Merchant Code and Date
      summary: Search the Authorizations by Merchant Code and Date
      operationId: searchAuthorization
      parameters:
        - name: Message-Signature
          in: header
          description: HMAC
          required: true
          example: 1tsmkG9Ip3k2rcO5cETButfP3D/RS6U8troFF+mUrno=
          schema:
            type: string
        - name: Api-Key
          in: header
          description: APigee Key
          required: true
          example: 'null'
          schema:
            type: string
        - name: auth
          in: header
          description: Oauth Key
          required: true
          example: 'null'
          schema:
            type: string
        - name: Timestamp
          in: header
          description: Date - Epoch Format
          required: true
          example: '1563309156733'
          schema:
            type: string
        - name: Client-Request-Id
          in: header
          description: Randomly generated by client
          required: true
          example: 6NYHj9Pgyxc84rmafpwG4fjhLwFfJYFVmxJOcgziD0QN3q6mGC
          schema:
            type: string
        - name: inst
          in: path
          description: Merchant Institution Number
          example: '00000003'
          required: true
          schema:
            type: string
        - name: merchant
          in: path
          description: Merchant Code
          example: '91002806'
          required: true
          schema:
            type: string
        - name: dataInicio
          in: path
          description: Inicial Date
          example: '20230401'
          required: true
          schema:
            type: string
        - name: dataFim
          in: path
          description: Final Date
          example: '20230420'
          required: true
          schema:
            type: string
        - name: codTipoAutorizacao
          in: query
          description: Authorization code
          example: '313000, 003100'
          required: false
          schema:
            type: string
        - name: tipoCanal
          in: query
          description: Chanel type
          example: POS
          required: false
          schema:
            type: string
        - name: tipoProduto
          in: query
          description: Product
          example: Débito
          required: false
          schema:
            type: string
        - name: tipoBandeira
          in: query
          description: Schema
          example: Visa
          required: false
          schema:
            type: string
        - name: status
          in: query
          description: Final Date
          example: '20230420'
          required: false
          schema:
            type: string
        - name: valorMinimo
          in: query
          description: Min. Value
          example: '0'
          required: false
          schema:
            type: string
        - name: valorMaximo
          in: query
          description: Max. value
          example: '10000'
          required: false
          schema:
            type: string
        - name: tipoSumarizacao
          in: query
          description: 'Summarization Type Possible values [ R - (RANGE between dates) / D - (DATA meaning Date) / P - (PRODUTO meaning Product) / B - (BANDEIRA meaning Association/Schema) ]'
          required: false
          schema:
            type: string
            enum:
              - R
              - D
              - P
              - B
      responses:
        '200':
          description: Successfully Done
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseV2'
      deprecated: false
components:
  schemas:
    Autorizacoes:
      type: object
      required:
        - bandeira
        - codAutorizacao
        - codMensagem
        - codProcessamento
        - data
        - estabelecimento
        - estornada
        - horario
        - terminal
        - tipoMensagem
        - valorBruto
      properties:
        bandeira:
          type: string
          description: Association/Schema code related to the authorization
          example: VL
          enum:
            - 'VL'
            - 'VN'
            - 'VF'
            - 'V'
            - 'VC'
            - 'ML'
            - 'MB'
            - 'MN'
            - 'MF'
            - 'M'
            - 'MC'
            - 'CN'
            - 'CL'
            - 'CG'
            - 'CF'
            - 'CR'
            - 'CA'
            - 'CT'
            - 'SN'
            - 'SL'
            - 'SR'
            - 'SA'
            - 'LR'
            - 'LA'
            - 'LC'
            - 'LV'
            - 'GN'
            - 'GL'
            - 'GV'
            - 'TN'
            - 'TL'
            - 'KA'
            - 'KR'
            - 'KT'
            - 'HC'
            - 'HN'
            - 'ON'
            - 'OL'
            - 'A'
            - 'XN'
            - 'X'
            - 'FA'
            - 'FR'
            - 'FT'
        codAutorizacao:
          type: string
          description: Authorization Code
          example: '000247'
        codMensagem:
          type: string
          description: Message Authorization Code
          example: '0200'
        codProcessamento:
          type: string
          description: Processing Authorization Code
          example: '003000'
        data:
          type: string
          description: Authorization Date
          example: '2019-06-06 00:00:00.0'
        estabelecimento:
          type: string
          description: Merchant Identification Code
          example: '33832822'
        estornada:
          type: string
          description: Reversal Authorization Identification
          example: '0 - Not reversal'
          enum:
            - 0 - Not reversal
            - 1 - reversal
        horario:
          type: string
          description: Authorization Time
          example: '125523'
        terminal:
          type: string
          description: Device Code used for Authorization
          example: PFT001B5
        tipoMensagem:
          type: string
          description: Message Type related to the authorization
          example: '210'
        valorBruto:
          type: string
          description: Authorization Gross Amount
          example: '365'
      title: Authorization
      x-stoplight:
        id: dtj9ixwi7gj31
    Response:
      type: object
      required:
        - autorizacoes
        - codigoRetorno
        - descricaoRetorno
      properties:
        autorizacoes:
          type: array
          description: Authorizations List
          items:
            $ref: '#/components/schemas/Autorizacoes'
        codigoRetorno:
          type: string
          description: Return Code
          example: '00 - Successfully Done'
          enum:
            - 00 - Successfully Done
            - 01 - Realized but with erros
            - 99 - System Error
        descricaoRetorno:
          type: string
          description: Return Description
          example: 00 - Successfully Done
          enum:
            - 00 - Successfully Done
            - 01 - Realized but with erros
            - 99 - System Error
      title: AutorizacoesResponse
      x-stoplight:
        id: z70ewyryhiw2s
    ResponseV2:
      type: object
      description: 'All the sales based on input parameters ''Receber or Realizadas''. Max Interval of Dates is 30 days for all the parameters with Summ Information. If tipoSumarizacao is not defined/sent, the Maxium Interval between dates will be 7 days. 1) Paramater ''Realizadas'' + Summ ''D'', it will summ up by Transaction Date; 2) Parameter ''Receber'' + Summ ''D'', it will summ up by Payment Date (future date).'
      required:
        - codigoRetorno
        - descricaoRetorno
        - first
        - last
        - pageNumber
        - size
        - sumarizacao
        - totalElements
        - totalPages
        - vendas
      properties:
        codigoRetorno:
          type: string
          description: Return Code. 00 for Successs. 01 Errors. 99 System Errors
          enum:
            - 00 - Successfully
            - 01 - Errors
            - 99 - System Errors
        descricaoRetorno:
          type: string
          description: Return Description
        first:
          type: boolean
          description: First Page
        last:
          type: boolean
          description: Last Page
        pageNumber:
          type: integer
          format: int32
          description: Page Number
        size:
          type: integer
          format: int32
          description: Page Size
        sumarizacao:
          type: array
          description: This block will be returned when Summ Information is provided
          items:
            $ref: '#/components/schemas/Sumarizacao'
        totalElements:
          type: integer
          format: int32
          description: Total of Records informados.
        totalPages:
          type: integer
          format: int32
          description: Total of Pages
        autorizacoes:
          type: array
          description: This block will be returned when Summ Information is not provided
          items:
            $ref: '#/components/schemas/AutorizacoesV2'
      title: ResponseV2
      x-stoplight:
        id: y4rjwasmdsx2w
    AutorizacoesV2:
      type: object
      description: This block will be returned when authorizations Information
      properties:
        data:
          type: string
          description: Date
          example: '20230425'
        status:
          type: string
          description: status
          example: Aprovada
          enum:
            - Aprovada
            - Pendente
            - Estornada
            - Recusada
        dataExpiracao:
          type: string
          description: Expiration date
          example: '20230425'
        tipoCanal:
          type: string
          description: Chanel type
          example: POS
          enum:
            - POS
            - TEF
            - MPOS
            - ECOMMERCE
        produto:
          type: string
          description: Product
          example: Débito
          enum:
            - Crédito
            - Crédito Internacional
            - Débito
            - Refeição
            - Alimentação
            - Premium
            - Cultura
            - Auto
            - Gift
            - Débito Internacional
            - Corporativo
            - Benefícios
            - Multiplo
        codAutorizacao:
          type: string
          description: Authorization code
          example: '088041'
        comprovante:
          type: string
          description: Payment voucher
          example: '000000061'
        terminal:
          type: string
          description: Device Code used for Authorization
          example: PGWK7SJ2
        estabelecimento:
          type: string
          description: Merchant code
          example: '000000091532205'
        quantParcelas:
          type: string
          description: Number of installments
          example: '5'
        hora:
          type: string
          description: Transaction hour
          example: '095522'
        valorTransacao:
          type: string
          description: Transaction value
          example: '25'
        tipoAutorizacao:
          type: string
          description: Authorization type
          example: 'Débito'
          enum:
            - 'Pré Autorização Crédito'
            - 'Pré Autorização Crédito Parcelado'
            - 'Pré Autorização Crédito ECOM'
            - 'Pré Autorização Crédito Parcelado Lojista ECOM'
            - 'Pré Autorização Crédito Parcelado Emissor ECOM'
            - 'Débito'
            - 'Recarga Celular Débito'
            - 'Pagamento de Contas no Débito'
            - 'Pagamento de Contas DOTZ'
            - 'Crédito'
            - 'Voucher'
            - 'Crédito Parcelado Lojista'
            - 'Crédito Parcelado Emissor'
            - 'Recarga Celular Crédito'
            - 'Confirmação da Pré Autorização Crédito'
            - 'Confirmação da Pré Autorização Crédito Parcelado'
            - 'Estorno'
            - 'Ativação Terminal'
            - 'Relatório Parcial'
            - 'Relatório Dia'
            - 'Teste Comunicação'
            - 'Anexo Recarga'
            - 'Compra Recorrente'
            - 'Consulta de Crediário'
            - 'Compra Crediário'
            - 'Estorno Crédito ECOM'
            - 'Confirmação Pré Autorização Crédito ECOM'
            - 'Confirmação Pré Autorização Crédito Parcelado Lojista ECOM'
            - 'Confirmação Pré Autorização Crédito Parcelado Emissor ECOM'
            - 'Estorno Débito ECOM'
            - 'Estorno Crédito Parcelado Lojista ECOM'
            - 'Estorno Crédito Parcelado Emissor ECOM'
            - 'Estorno Pré Autorizaçao'
            - 'Estorno Pré Autorização Confirmada Crédito'
            - 'Inicialização'
            - 'Compra com Troco'
            - 'Saque'
        codTipoAutorizacao:
          type: string
          description: Authorization code
          example: '002000'
        bandeira:
          type: string
          description: Schema
          example: Visa
          enum:
            - Mastercard
            - Maestro
            - Cabal
            - Elo
            - Banese
            - Ticket
            - Alelo
            - Sorocred
            - Banestes
            - Amex
            - Hipercard
            - Sodexo
            - VR
            - Visa
            - Softnex
            - Redecompras
            - Fepas
        numeroCartao:
          type: string
          description: Card number
          example: 414506******8869
      x-stoplight:
        id: 7k4rew8r5dqby
    Sumarizacao:
      type: object
      description: This block will be returned when Summ Information is provided
      properties:
        estabelecimento:
          type: string
          description: Merchant Id
          example: '000000031000003'
        tipoSumarizacao:
          type: string
          description: Summarization type
          example: Débito
        sumarizacao:
          type: string
          description: Summarized value
          example: '2200000'
      x-stoplight:
        id: q5ewaia7vnpfw
